@import "../../static/mixin.scss";

.lxui-input {
    padding: 0 .12rem;
    width: 100%;
    height: .36rem;
    @include font(.14rem, #454545, .34rem);
    border: 1px solid #ddd;
    &.line {
        border-color: transparent;
        border-bottom-color: #ddd;
    }
}