@import "../../../static/mixin.scss";

.usercenter {
    padding-top: .12rem;
}
.user-sketch {
    display: flex;
    align-items: center;
}
.user-sketch-photo {
    margin-right: .12rem;
    @include size(.56rem);
    overflow: hidden;
    border-radius: 4px;
}
.user-sketch-main {
    span {
        @include font(.16rem, #454545);
    }

    p {
        margin-top: .1rem;
        @include font(.12rem, #999);
    }
}
.usercenter-menus {
    margin-top: .12rem;
}