
.lxui-ruler {
    position: relative;
    width: 100%;
    height: .36rem;
}
.lxui-ruler-unit {
    position: relative;
    height: .16rem;
    span {
        position: absolute;
        left: 0;
        bottom: 0;
        color: #999;
        font-size: .14rem;
        transform: translate(-50%, 0);
    }
}
.lxui-ruler-bar {
    display: flex;
    height: .05rem;
    background: #ffff;
    span {
        flex: 1;
        margin-right: 1px;
        height: .05rem;
        &:nth-child(1) {
            background: #fc6363;
        }
        &:nth-child(2) {
            background: #ff9b59;
        }
        &:nth-child(3) {
            background: #ff9975;
        }
        &:nth-child(4) {
            margin-right: 0;
            background: #62c82a;
        }
    }
}
.lxui-ruler-arrow {
    position: absolute;
    top: .09rem;
    margin-left: -.06rem;
    width: 0;
    height: 0;
    border: .12rem solid transparent;
    border-left-width: .06rem;
    border-right-width: .06rem;
    border-bottom-color: #f67d2c;
}