@import '../../static/mixin.scss';

.cy-item {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: .1rem;
    min-height: .42rem;
    overflow: hidden;
    @include font(.14rem, #333)
    & > i {
        margin-left: -.04rem;
        margin-right: .08rem;
        font-size: .24rem;
    }
    .cy-item-icon {
        position: relative;
        @include size(.3rem, .42rem);
        overflow: hidden;
        i {
            @include pos(absolute, 50%, 0, 0, 0);
            transform: translate(0, -50%);
        }
    }
    .cy-item-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: .75rem;
        line-height: 1.4;
        em {
            @include font(.12rem, #f67d2c)
        }
    }
    .cy-item-value {
        flex: 1;
        display: flex;
        align-items: center;
        &.right {
            justify-content: flex-end;
        }
    }
    .cy-item-tips {
        padding-right: .24rem;
        color: #aaa;
    }
    .cy-item-unit {
        padding: 0 .1rem;
    }
    .cy-item-arrow {
        @include pos(absolute, 50%, .1rem, auto, atuo, 1);
        @include size(.1rem);
        border-right: 1px solid #7e7e7e;
        border-bottom: 1px solid #7e7e7e;
        transform: translate(0, -50%) rotate(-45deg);
    }
    &:active {
        background: rgba(250, 250, 250, 1);
    }
}
.cy-list {
    // 一行显示两个
    position: relative;
    &.inline {
        display: flex;
        .cy-item {
            flex: 1;
        }
    }
    .cy-item {
        min-height: .43rem;
        &:before {
            @include pos(absolute, auto, 0, 0, .1rem, 1);
            height: 1px;
            transform: scale(1, .5);
            content: "";
            background: #eaeaea;
        }
        &:last-child:before {
            display: none;
        }
    }
    &:before, &:after {
        @include pos(absolute, auto, 0, 0, 0, 1);
        height: 1px;
        transform: scale(1, .5);
        content: "";
        background: #eaeaea;
    }
    &:after {
        bottom: auto;
        top: 0;
    }
}
