@import '../../../static/mixin';

.message {
    padding: 0 .1rem;
}
.message-item {
    display: flex;
    padding: .12rem 0 0;
    &.right {
        // 右侧消息
        flex-direction: row-reverse;
        .message-item-photo {
            margin-right: 0;
            margin-left: .08rem;
        }
        .message-item-content {
            text-align: right;
        }
    }
}
.message-item-photo {
    margin-right: .08rem;
    @include size(.32rem);
    overflow: hidden;
}
.message-item-content {
    flex: 1;
}
.message-item-text {
    display: inline-block;
    padding: .07rem .08rem;
    min-height: .32rem;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(200, 200, 200, 1);
    @include font(.14rem, #454545, .18rem);
}

.message-footer {
    @include position(fixed, auto, 0, 0, 0, 9);
    display: flex;
    align-items: center;
    padding: 0 .12rem;
    height: .48rem;
    background: #f9f9f9;
}
.message-input {
    flex: 1;
    input {
        border-color: #e9e9e9;
        border-radius: 4px;
    }
}
.message-sendbtn {
    margin-left: .12rem;
    a {
        display: block;
        @include size(.8rem, .36rem);
        @include font(.14rem, #fff, .36rem, center);
        background: #3498DB;
        border-radius: 4px;
    }
}