.paypassword {
    padding-top: .24rem;
}
.paypassword-main {
    display: flex;
    margin: 0 auto;
    width: 2.4rem;
}
.paypassword-input {
    margin-right: .12rem;
    width: .32rem;
    height: .32rem;
    line-height: .32rem;
    text-align: center;
    border-bottom: 1px solid #ccc;
    transition: all .3s ease-out;
    &.focus {
        border-color: rgba(26, 188, 156, .9);
    }
}
.paypassword-save {
    margin-top: .48rem;
}