@import "../../static/mixin.scss";

.login {
    display: flex;
    align-items: center;
    height: 100vh;
    background: url(../../static/imgs/login_bg.jpg) no-repeat center center;
    background-size: cover;
    &:before {
        @include position(absolute, 0, 0, 0, 0, 1);
        background: rgba(0, 0, 0, .2);
        content: "";
    }
}
.login-main {
    position: relative;
    z-index: 2;
    margin: -.4rem auto 0;
    width: 60%;
}
.login-item {
    margin-bottom: .12rem;
    input.line {
        background: none;
        border-bottom-color: rgba(26, 188, 156, .9);
        color: #fff;
        font-size: .16rem;
        &::-webkit-input-placeholder {
            color: rgba(255, 255, 255, .7);
            font-size: .14rem;
        }
    }
}
.login-btn {
    margin-top: .24rem;
    a.primary {
        border-color: transparent;
        background: rgba(26, 188, 156, .9);
    }
}